h1 {
  font-family: "Fira Sans", sans-serif;
  color: #c86b85;
  display: block;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  line-height: 20px;
  margin-top: 20px;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background-color: #f4edef;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  line-height: 22px;
}

ul {
  padding: 12px;
}


small {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
}

.weather-app-border {
  max-width: 800px;
  margin: 100px auto;
  box-shadow: 10px 10px rgba(244, 237, 239, 0.02);

}

.weather-main {
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 16px;
  background-color: white;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #545152;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  position: relative;
  top: 3px;

}

.weather-temperature .unit {
  position: relative;
  font-size: 17px;
  top: -22px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  color: #c86b85;
}

.forecast-date {
  font-size: 20px;
  opacity: 0.5;
  color: #545152;
}

.forecast-temp {
  font-size: 18px;
  font-weight: 700px;

}

.forecast-temp-min {
  opacity: 0.5;
}