h1 {
  font-family: "Fira Sans", sans-serif;
  color: #914e60;
  display: block;
  font-size: 36px;
  font-weight: 600;
  padding: 20px;
  line-height: 20px;
  margin-bottom: 0;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
  color: #c86b85;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
ul {
  padding: 12px;
}

.weather-app-border {
  max-width: 800px;
  margin: 40px 60px auto;
  padding: 20px auto;
  border: 1px solid black;
  border-radius: 16px;
  color: #878787;
}
